
 body {
   margin: 0px;
   text-align: center;
  }

  .header {

    background-color: none;
  }

 .h1 {
   text-align: center;
   margin: 0 auto 0 auto;
   font-style: normal;
   font-family: cursive;
 }

 .paragraphmodel1 {
   margin-top: auto;
   margin-right: auto;
   margin-bottom: auto;
   margin-left: auto;
   font-style: normal;
   font-family: cursive;
 }

 .top-container {
   background-color: #FCE2DB;

  }

 .middle-container {
   background-color: red;
   width: 200px;
   height: 200px;

 }
 .bottom-container {
   background-color: yellow;
   width: 200px;
   height: 200px;

 }

 #mountain-img {
   width: 100%;
   height: 700px;
   position:
 }
